.content-container {
    background-color: #F6F6F6;
    height: 85vh;
    padding-left: 20px;
    margin-top: 10px;
    overflow: scroll;

    position: relative;
}

.logo-container img{
    width: 15px;
    margin-left: 20px;
}
