.details-container {
    border: 1px solid rgb(228, 227, 227);
    margin-left: 18px;
    margin-top: 10px;
    padding: 40px 30px;
    margin-right: 0;
    box-shadow: 1px 1px 10px lightgray;
}

.que-img img{
    width: 40px;
}

.progressBar {
    background-color: lightgray;
    height: 15px;
    border-radius: 100px;
    margin-top: 5px;
}
.progressBar div {
    background-color: rgb(228, 154, 18);
    height: 15px;
    border-radius: 100px;
    margin-top: 5px;
    width: 30%;
}
.status {
    color: rgb(228, 154, 18);
    text-align: end;
    font-weight: 400;
}

.info-img {
    width: 30px;
}

.f-size {
    font-size: 14px;
}

.submit-form{
    background-color: rgb(228, 154, 18);
    color: white;
    font-weight: 500;
    padding: 10px 40px;
}

.toggle-reference {
    position: relative;
}

/* toggle btn */
.leftToggle {
    width: 40px;
    position: absolute;
    top: 83%;
    left: 51%;
    z-index: 1;
    transition: all .2s ease-out;
}
.leftToggle:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.rightToggle {
    width: 40px;
    position: absolute;
    top: 83%;
    left: 7%;
    z-index: 1;
    transition: all .2s ease-out;
}
.rightToggle:hover {
    transform: scale(1.2);
    cursor: pointer;
}



/* side bar */
.sidebar {
    border: 1px solid lightgray;
    box-shadow: 1px 1px 10px lightgray;
    margin-left: 20px;
    position: relative;
}
.text-rotate {
    writing-mode: vertical-rl; 
    transform: rotate(180deg);
    position: absolute;
    top: 40%;
    left: 10%;
    text-transform: capitalize;
    font-weight: 700;
    color: #002173;
}